<!-- BUCLES - LOOPS -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bucles.css">
    <title>Bucles-Loops</title>
</head>
<body>

    <div id="bucles">

        <h2> Texto de prueba </h2>
        <h3> Bucles o Loops </h3>

   </div>

   <article class="article-static">
        <h4>Lista estática Nó Dinámica</h4>
        <ul id="lista-ul">
            <li> Primer puesto   </li>
            <li> Segundo puesto  </li>
            <li> Tercer puesto   </li>
            <li> Cuarto puesto   </li>
        </ul>
   </article>

   <article>
    <h4>Lista Dinámica</h4>
    
    <ul id="lista-ul-dinamic">
    </ul>
   </article>

   <script src="../js/bucles.js"></script>
</body>
</html>